<!-- disclaimer -->
<div class="alert alert-warning" role="alert">
  <strong><i class="fa fa-exclamation-triangle"></i> Disclaimer</strong> 
  El usuario puede llegar a ser insultado en caso de mal uso de la aplicacion (tambien en el buen uso), se recomienda discrecion
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section id="agregar">
  <app-agregar-gil></app-agregar-gil>
</section>
<section id="pagos" class="mt-2">
  <app-gastos></app-gastos>
</section>
<section id="tablas" class="mt-3">
  <app-giles-table></app-giles-table>
</section>
