.basura-humana {
    background-color: tomato;
    padding: 10px;
    border-radius: 3px;

}

.pibe-de-oro {
    background-color: rgb(20, 197, 50);
    color: whitesmoke;
    padding: 10px;
    border-radius: 3px;
}